* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.rightpush {
  transform: translateX(100px);
  display: none;
}